body {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
}

.header {}

.container {
    max-width: 1660px;
    padding: 85px 120px 0 140px;
    display: flex;
    margin-bottom: 1000px;
}

.header__nav {
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 65px;
    background-color: #c9c7c72f;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.header__nav-img {
    padding-left: 140px;
}

.header__nav-profile {
    padding-right: 90px;
}

.header__nav-clients {
    padding-right: 30px;
}

.header__block {
    display: flex;
    display: inline-block;
}

.header__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
    color: #4e4a4a;
    margin-bottom: 50px;
}

.header__img {
    max-height: 611px;
    max-width: 648px;
    margin-left: auto;
}